[user]
	name = jagaimo
	email = kurosuke96382@gmail.com
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential]
	helper = "!f() { /home/jagaimo/jagaimo/.vscode-server/bin/8b3775030ed1a69b13e4f4c628c612102e30a681/node /tmp/vscode-remote-containers-f9eb40b6-269b-45de-a416-0193dd2a4b1f.js git-credential-helper $*; }; f"
